/* Center the card */
mat-card {
  width: 40%;
  min-width: 450px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Title styling */
.title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Subtext styling */
.subtext {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.subtext a {
  color: #3f51b5;
  cursor: pointer;
  text-decoration: none;
}

.subtext a:hover {
  text-decoration: underline;
}

/* Form field styling */
mat-form-field {
  width: calc(100% - 40px); /* Full width minus padding */
  margin: 10px auto;
}

/* Actions styling */
.actions {
  margin-top: 20px;
}

.message {
  margin-top: 10px;
  font-size: 14px;
  color: red;
}
