<div class="app-container">
  <!-- Fixed Header -->
  <mat-toolbar color="primary" class="header">
    <!-- App Title Button -->
    <button mat-button (click)="goToHomePage()" class="app-title no-hover">Food Ordering App</button>

    <!-- Spacer to push items to the right -->
    <span class="spacer"></span>

    <!-- Cart Icon -->
    <button mat-icon-button (click)="goToCart()">
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <!-- User Section -->
    <ng-container *ngIf="currentUser; else signInSignUp">
      <button mat-button (click)="signOut()">
        <mat-icon>account_circle</mat-icon> {{ currentUser }}
      </button>
    </ng-container>
    <ng-template #signInSignUp>
      <button mat-button (click)="goToSignIn()">
        <mat-icon>account_circle</mat-icon> Sign In / Sign Up
      </button>
    </ng-template>
  </mat-toolbar>

  <!-- Content Wrapper for Pages -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
